
# Persistent data
__infra__/mysql/data
__infra__/redis/data

# Nginx Certificates
__infra__/nginx/certificates/*.key
__infra__/nginx/certificates/*.crt

# Backend

backend/node_modules
backend/logs
backend/dist
backend/.env

# Logs

logs